*{
    margin: 0;
    padding: 0;
}
.nav_ul{
    display: flex;
    list-style-type: none;
}
.logo{
    height: 8vh;
}
.logo_li{
    width: 20%;
}
.navbar{
    display: flex;
    background: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: fixed;
    width: 100vw;
    cursor: pointer;
    z-index: 2;

}
.navbar :hover{
    height: 10vh;
}
.logo_li{
    margin-left: 1vw;
}
.nav_li1{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li2{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li3{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li4{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li5{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li6{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li7{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.nav_li8{
    margin-left: 2vw;
    margin-top: 2.5vh;
}
.download{
    padding: 2vh;
    width: 15vw;
    margin-left: 25vw;
    background: #00249c;
    color: white;
    border: 0;  
    height: 9vh;
}
.download :hover{
    margin-top: 2vh;
}
.windows_icon{
    width: 5%;
}


.hero_plus{
    background: #92c1e9;
    padding-bottom: 10%;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15vh;
}
.hero1{
    font-size: 26px;
}
.hero_download{
    display: flex;
    justify-content: center;
}
.download2{
    padding: 2vh;
    color: white;
    background: #00249c;
    border: 0;
    margin-top: 3%;
}
.opera1{
    width: 90%;
    margin-top: 5%;
}
.opera1_div :hover{
    width: 93%;
}
.opera2{
    width: 43%;
    height: 120vh;
    position: absolute;
    top: 65vh;
    left: 53vw;
    z-index: 1;
}
.opera2_div :hover{
    width: 45%;
}


.functions{
    margin-top: 7%;
}
.functionalities{
    font-size: 8.5vh;
    margin-left: 12vw;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 80vw;
    margin-left: 5vw;
}
.card1_img{
    width: 40vw;
}
.card2_img{
    width: 40vw;
}
.card3_img{
    width: 40vw;
}
.card4_img{
    width: 40vw;
}
.card1{
    background: #bde9c9;
    padding: 20px;
}
.card2{
    background: #92c1e9;
    padding: 20px;
}
.card3{
    background: #f5dadf;
    padding: 20px;
}
.card4{
    background: #fabbcb;
    padding: 20px;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5%;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    width: 90vw;
    margin-left: 5vw;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    width: 90vw;
    margin-left: 5vw;
}
.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    width: 90vw;
    margin-left: 5vw;
}

.grid1_image{
    width: 43vw;
    height: 90vh;
    margin-bottom: 5%;
}
.grid2_image{
    width: 43vw;
    height: 90vh;
    margin-bottom: 5%;
}
.grid3_image{
    width: 43vw;
    height: 90vh;
    margin-bottom: 5%;
}
.grid4_image{
    width: 43vw;
    height: 90vh;
    margin-bottom: 5%;

}
.all{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    font-size: 22px;
    margin-left: 5%;
}

.do1{
    font-size: 7vh;
}
.do2{
    font-size: 7vh;
}
.do3{
    font-size: 7vh;
}
.do4{
    font-size: 7vh;
}


.get_started{
    background: rgba(32, 132, 217, .2);
    height: 80vh;
    margin-top: 5%;
    padding-top: 2%;
}
.start{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
 }
 
 .ready{
    color: #2084d9;
    margin-left: 5%;
    margin-bottom: 3%;
 }
 .start_text1{
    color: #2084d9;
 }
 .start_text2{
    color: #2084d9;
 }
    .start1{
        font-size: 26px;
    }
    
    .start2{
        font-size: 16px;
    }

    .switch_download{
        display: flex;
        justify-content: center;
    }
    .switch{
        padding: 2vh;
        color: white;
        background: #00249c;
        border: 0;
        margin-top: 7%;
    }
    

.gaming_products{
    margin-left: 6vw;
    font-size: 8vh;
}
.discover{
}
.gaming{
    width: 50vw;
}
.discover_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    background: #f2f2f2;
    padding: 20px;
    margin-left: 6%;
}
.discover_text{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}




.who_we_are{
    background-image: url('images/FINE\ GIRL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0.26);
    height: 80vh;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}




.boy_and_girl{
    background: pink;
    background-image: url("images/boy-n-girl.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    padding-bottom: 10%;
}
.people{
    width: 90vw;
}
.know_us_link{
    padding-top: 5vh;
    margin-left: 2%;
}
.know_us_text{
    margin-left: 2%;
    padding-top: 50vh;
}
.pink_space{
    background: pink;
    padding-top: 3%;
}
.deserved_browser{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: 10%;
}
.you_deserve{
    color: #FB637E;
    font-size: 50px ;
}
.you_deserve2{
    color: #FB637E;
    font-size: 20px;
}
.download_opera{
    padding: 2vh;
    width: 15vw;
    background: #00249c;
    color: white;
    border: 0;  
    height: 9vh;
    display: flex;
    justify-content: center;
}
.download_opera_div{
    display: flex;
    justify-content: center;
}
.free{
    text-align: center;
    color: #FB637E;

}







.footer{
    background: #f2f2f2;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    padding-top: 3%;
}
.footer_part1{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    width: 70%;
    margin-left: 7vw;
}
.services ul{
    list-style-type: none;
}
.help ul{
    list-style-type: none;
}
.legal ul{
    list-style-type: none;
}
.company ul{
    list-style-type: none;
}

.opera_brand{
    width: 5vw;
}
.brand1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.opera_brand_text{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.brand_text{
    color: #b3b3b3
}